body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Matrix {
  height: 100%;
  width: 100%;
  font-size: 12px;
  position: absolute;
}

#login-container {
  padding: 200px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#password-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 20px;
  border-radius: 3px;
  margin: 0 auto;
}

#key-image {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  top: 20px;
}

#lock-image {
  margin: 2px;
  width: 35px;
  height: 35px;
}

.square {
  background-color: #1c1c1c;
  filter: brightness(200%);
  width: 40px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#password {
  padding: 10px;
  color: rgb(197, 244, 255);
  align-content: center;
  background-color: #1c1c1c;
  border-left: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


#login-button {
  font-family: consolas, monaco, monospace;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: #2d2d2d;
  color: white;
  margin: 0 auto;
}

#login-button:hover {
  background-color: #6f707a;
}

#login-button:active {
  background-color: #a8a9b5;
}
